@using Bootzor.Components.Accordion
@using Bootzor.Components.Alert
@using Bootzor.Components.Dialog
@using Bootzor.ZorEnums;
@using static Bootzor.Components.Dialog.ZorDialog;
@using Bootzor.Components.Button;

@page "/components/dialog"

<PageTitle>BlazorComponents - Bootzor</PageTitle>
  
<div class="appBootzor">
    <header>
        <BCHeader/>
    </header>
    <div class="appContent responsive"> 
        <BCNSidebar/> 

        <BCArticleSection Title="Accordion">
            <Description>
                <p>Add dialog to show any confirmation box or alert.</p>
                <p><b>&#60;ZorDialog&#62;</b></p>
            </Description>

            <ComponentParameters>
                                
                <ParameterSection>
                    <Name>Title</Name>
                    <Type>RenderFragment</Type>
                    <TypeDescription>fragment</TypeDescription>
                    <Description>
                        <p>Title of the modal.</p>
                    </Description>
                </ParameterSection>                  
                
                <ParameterSection>
                    <Name>Content</Name>
                    <Type>RenderFragment</Type>
                    <TypeDescription>fragment</TypeDescription>
                    <Description>
                        <p>Content of the modal.</p>
                    </Description>
                </ParameterSection>  
                
                <ParameterSection>
                    <Name>ShowModal</Name>
                    <Type>bool</Type>
                    <TypeDescription>true | false</TypeDescription>
                    <Description>
                        <p>Indicates if the modal has to appear.</p>
                    </Description>
                </ParameterSection>            
                
                <ParameterSection>
                    <Name>ResultModal</Name>
                    <Type>EventCallback&#60;bool&#62;</Type>
                    <Description>
                        <p>EventCallback to have the result when press a button cancel or ok.</p>
                    </Description>
                </ParameterSection>   
                
                           
                <ParameterSection>
                    <Name>Overlay</Name>
                    <Type>bool</Type>
                    <TypeDescription>true | false</TypeDescription>
                    <Description>
                        <p>Indicate if the overlay need to appear or not.</p>
                    </Description>
                </ParameterSection>
                
                <ParameterSection>
                    <Name>Buttons</Name>
                    <Type>ZorDialog.DialogButtons</Type>
                    <TypeDescription>Ok | OkCancel | Cancel</TypeDescription>
                    <Description>
                        <p>Indicates the number and type of buttons.</p>
                    </Description>
                </ParameterSection> 
                

                <ParameterSection>
                    <Name>Position</Name>
                    <Type>BootzorComponents.ZorEnums.Position</Type>
                    <TypeDescription>top | TopLeft | TopRight | bottom | BottomLeft | BottomRight | Center</TypeDescription>
                    <Description>
                        <p>Position of the dialog.</p>
                    </Description>
                </ParameterSection>    
                
                <ParameterSection>
                    <Name>Effect</Name>
                    <Type>BootzorComponents.ZorEnums.Effect</Type>
                    <TypeDescription>None | Transition | Shadow</TypeDescription>
                    <Description>
                        <p>Effect of the dialog.</p>
                    </Description>
                </ParameterSection>                    
                
                <ParameterSection>
                    <Name>Icon</Name>
                    <Type>BootzorComponents.ZorEnums.DialogIcon</Type>
                    <TypeDescription>None | Information | Warning | Question</TypeDescription>
                    <Description>
                        <p>Icon in the content of the modal.</p>
                    </Description>
                </ParameterSection>     
                
                <ParameterSection>
                    <Name>Color</Name>
                    <Type>BootzorComponents.ZorEnums.Color</Type>
                    <TypeDescription>SmoothWhite | White | Dark | Blue | Orange</TypeDescription>
                    <Description>
                        <p>Color of the modal.</p>
                    </Description>
                </ParameterSection>    


            </ComponentParameters>

            <Example>
                &#60;<b>ZorDialog</b> <i>DialogType</i>="DialogPosition.OkCancel"
                    <i>ResultModal</i>="EventCallback&#60;bool&#62;"
                    <i>Position</i>="DialogPosition.Top"
                    <i>Overlay</i> = true 
                    <i>ShowDialog</i> = true
                    <i>DialogEffect</i> = "Effect.Transition"
                    <i>Icon</i> = "DialogIcon.Information"  &#62;

                    &#60;Title&#62;
                        &#60;p&#62;Title&#60;/p&#62;
                    &#60;/Title&#62;
                    
                    &#60;Content&#62;
                        &#60;p&#62;FragmentRender Content&#60;/p&#62;
                    &#60;/Content&#62;

                &#60;/<b>ZorDialog</b>&#62;
            </Example>

            
            <Result>
                @foreach(Effect eff in Enum.GetValues(typeof(Effect)))
                {
                    <h4>Results with @eff.ToString() Effect</h4>
                    @foreach(Position pos in Enum.GetValues(typeof(Position)))
                    {
                        <ZorButton ClickButton="@(() => ShowModal(pos, eff, true))" TextButton=@pos.ToString() />
                    }
                }
                
                <h4>Results with None overlay</h4>
                <ZorButton ClickButton="@(() => ShowModal(Position.Top,Effect.None,false))" TextButton="No effect" />
                <ZorButton ClickButton="@(() => ShowModal(Position.Top,Effect.Transition,false))" TextButton="Transition" />
                <ZorButton ClickButton="@(() => ShowModal(Position.Top,Effect.Shadow,false))" TextButton="Shadow" />

                @foreach(DialogIcon ico in Enum.GetValues(typeof(DialogIcon)))
                {
                    <h4>Results with Transiction Effect Icon @ico.ToString()</h4>
                    @foreach(Position pos in Enum.GetValues(typeof(Position)))
                    {
                        <ZorButton ClickButton="@(() => ShowModalIcon(pos, Effect.Transition, true, ico))" TextButton=@pos.ToString() />
                    }
                }
                
                <h4>Results icon color and colors</h4>
                @foreach(Color col in Enum.GetValues(typeof(Color)))
                {
                    <ZorButton ClickButton="@(() => ShowModalIconColor(Position.Center, Effect.Shadow, true, DialogIcon.Warning, col))" TextButton=@col.ToString() />
                }
  

                <ZorDialog  @ref="zorDialog"
                    Buttons="DialogButtons.OkCancel"
                    ResultModal="EventResult"
                    DialogPosition=@Position
                    ShowDialog=@ShowDialog
                    Overlay=@ShowOverlay
                    DialogEffect=@DialogEffect
                    Icon=@DialogIcon
                    DialogColor=@DialogColor>

                    <Title> 
                        Dialog title
                    </Title>
                    
                    <Content>
                        This is the Content! 
                    </Content>

                </ZorDialog>

            </Result>

        </BCArticleSection> 
    </div>
</div>

@code{

    public ZorDialog? zorDialog;

    private bool ShowDialog { get; set; } = false;
    private Position Position { get; set; } = Position.Top; 
    private bool ShowOverlay { get; set; }= true;
    private Effect DialogEffect { get; set; } = Effect.Transition;
    private DialogIcon DialogIcon { get; set; } = DialogIcon.None;
    private Color DialogColor { get; set; } = Color.SmoothWhite; 

    public void ShowModal(Position position, Effect effect, bool showOverlay)
    {
        ShowOverlay = showOverlay;
        DialogColor = Color.SmoothWhite;
        Position = position;
        ShowDialog = true;
        DialogEffect = effect;
    }    

    public void ShowModalIcon(Position position, Effect effect, bool showOverlay, DialogIcon icon)
    {
        DialogIcon = icon;
        ShowModal(position, effect, showOverlay);
    }    

    public void ShowModalIconColor(Position position, Effect effect, bool showOverlay, DialogIcon icon, Color color)
    {
        DialogIcon = icon;
        DialogColor = color;
        ShowOverlay = showOverlay;
        Position = position;
        ShowDialog = true;
        DialogEffect = effect;
    }

    public void EventResult(bool result)
    {
        ShowDialog = false;
    }
}